*  {
    box-sizing: border-box;
    font-size: 1.3rem;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "h1 h1 h1"
    "banner banner bb1"
    "banner banner bb2"
    "sideMenu main main"
    "tags main main"
    "recent main main"
    "footer footer footer"

    
    ;


}

.wrapper > *{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.header {
    background: blue;
    grid-area: header;
}

h1 {
    background: yellow;
    grid-area: h1;
}

.banner {
    background: red;
    grid-area: banner;   
}

.bb1 {
    background: purple;
    grid-area: bb1;

}

.bb2 {
    background: brown;
    grid-area: bb2;
}

.side-menu {
    background: orange;
    grid-area: sideMenu;
}

.tags {
    background: cyan;
    grid-area: tags;
}

.recent {
    background: radial-gradient(green,yellow);
    grid-area: recent;

}

.main {
    min-height: 50vh;
    grid-area: main;
    background: linear-gradient(to right,red, green, blue);
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main div {
    background: white;
    min-width: 150px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    flex-grow: 1;
}
.footer {
    background: black;
    color: wheat;
    grid-area: footer;
}

@media (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "header header"
        "h1 h1 "
        "banner banner"
        "bb1 bb2"
        "sideMenu sideMenu"
        "main main"
        "tags recent"
        "footer footer"
    
        
        ;


}
}

@media (max-width: 550px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header "
        "h1"
        "banner"
        "bb1"
        "bb2"
        "sideMenu"
        "tags"
        "recent"
        "main"
        "footer";}

    .main >div {
        width:100%
    }



}
